.code-modal__header {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.code-modal__header h2 {
  color: rgb(211, 197, 197)!important;
}
.code-modal__header button {
  color: red;
  background: transparent;
}
.discount-type {
  padding: 25px 20px;
  border-bottom: 1px solid gray;
}
.discount-type:hover{
    background:rgb(124, 118, 118);
}

.btn-open__modal{
    background:transparent
}